body {
  margin: 0;
  background-color: black;
  color: white;
  width: 80%;
  padding-top: 20vh;
  height: 80vh;
  overflow-y: clip;
  font-size: 16px;
} 

/* Adjust margins for smaller screens */
@media screen and (max-width: 1050px) {
  body {
    width: 90%;
    padding-top: 10vh;
    padding-left: 5vw;
  }
}

img {
  float: left;
  width: 50vw;
  max-height: 80vh;
  shape-outside: circle();
}
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2;
}

a {
  /* text-decoration: none; */
  font-family: monospace;
  font-size: 15px;
  color: white;
  text-decoration: underline;
}