.cat {
text-align: center;
    color:white;
}

.proc-form .input-group-text {
    color:white;
}

.proc-form {
    text-align:center;
}

#menu {
    text-align:center;
}
#menu .btn {
    margin-bottom:5px;
    margin-top:5px;
    border: 3px solid transparent;
}
#menu .btn:hover {
    border:3px solid black;
    color: white;
}

#menu #break {
    margin-top:30px;
    color: white;
    background-color: gray;
}

#timer {
    text-align:center;
}

.setters, .controlls #pause {
    display:none;
}

#menu, #timer {
    display:none;
}

#break-lbl { 
  background-color: gray;
}

#setup form {
    margin-top:15px;
}
#start {
    margin-top:15px;
}